@import 'reset';
@import 'display';
@import './layout/header';
@import './layout/main';
@import './components/searchForm';

* {
  --color-anchor-text: #0076d1;
  --color-background: #f3f5f7;
  --color-background-secondary: #ffffff;
  --color-category-chip: #eceef1;
  --color-text: #00214d;
  --color-heading-text: #000;
  --color-paragraph: #1b2e46;
  --color-code-background: #d7dad3;
  --color-code-text: #212529;
  --color-table-background-color: #fff;
  --color-table-background-color-second: #f6f8fa;
  --color-table-border: #d0d7de;
  --color-navigation-shadow: rgba(0, 0, 0, 0.08);

  --color-primary: #218bff;
  --color-secondary: #acd2f4;
  --color-white: #f3f5f7;
  --color-black: #222;
  --color-gray: #5a6072;
  --color-gray-100: #c9cfe7;
  --color-gray-1000: #21232c;
  --color-overlay: #61646bcc;

  box-sizing: border-box;
  font-family: 'Noto Sans KR', 'sans-serif';
}

.root {
  margin: 0 auto;
  max-width: 600px;
}
